.signin-logo {
  margin: 40px auto;
  max-width: 200px;
}

.form-signin {
  position: absolute;
  top: 20%; // 0 to 20%
  left: 50%;
  transform: translate(-50%,0);
  margin: 0 auto;
  max-width: 350px; // 300 to 350

  .alert { margin-bottom: 15px; }

  input { background: $white; }
}

.signin-contents {
  border-radius: 10px;
  background: $blue_lightest2;  // $blue_light3 to $blue_lightest2
  padding: 20px;
  width: 350px; // 300 to 350
}

.form-signin-heading {
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $navy_drkest;  // $navy_drk2 to $navy_drkest
  font-size: 24px;
  font-weight: 400; // 300 to 400
}

.form-signin-heading::first-letter { text-transform: uppercase; }
